.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.md-layout {
    display: inline-block;
    float: left;
}

.md-layout.half {
    width: 50%;
}

.md-layout.third {
    width: 33.333333%;
}

.md-layout.fourth {
    width: 25%;
}

.md-layout div {
    padding: 5px;
}

.md-layout img {
    height: auto;
    width: 100%;
}
